.sub-container, .semi-container{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:549px){
    .col-md-6{
        width: 50%;
    }
    .image-logo{
        width: 220px;
        margin-top: 30px;
    }
    .fullName{
        font-size: 20px;
        text-align: right;
    }
    .title{
        font-size: 12px;
        text-align: right;
    }
}

@media screen and (min-width:550px) and (max-width: 991px){
    .col-md-6{
        width: 50%;
    }
    .image-logo{
        width: 300px;
        margin-top: 30px;
    }
    .fullName{
        font-size: 25px;
        text-align: right;
    }
    .title{
        font-size: 15px;
        text-align: right;
    }
    .col-md-4{
        width:234px;
    }
    
}

@media screen and (max-width: 546px){
    .semi-container{
        position: absolute;
        left:25%;
    }
}